@{
    this.ViewData["Title"] = "Admin dashboard";
}

<link href="~/css/AdminDashboard.css" rel="stylesheet" />

<div class="dashboardContainer">
    <h1>@this.ViewData["Title"]</h1>
    <div class="buttons">
        <a asp-area="Administration" asp-controller="Orders" asp-action="Orders" class="dashboardButton">Orders</a>
        <a asp-area="Administration" asp-controller="Users" asp-action="Users" class="dashboardButton">Users</a>
        <a asp-area="Administration" asp-controller="Items" asp-action="Items" class="dashboardButton">Items</a>
    </div>
</div>